#vaccinebutton{
    list-style-type: none;
    display: flex;
    float: left;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-right: 3%;
    margin-bottom: 3%;
    border-radius: 25px;
    background-color:rgb(155,120,222);
    }

#vaccinebutton:hover{
    background-color: rgb(155,120,222,0.8);

    }
#Vacback{
    background-color:rgb(46, 42,47);
}
.yellowbtn{
    justify-content: center;
    font-weight: bold;
    color: white;
}

a, a:hover {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
  }
  
  

#banner{
    justify-content: center;
    background-size: auto;
    width: 100%;
    
}

#back{
    background-color: rgb(22,22,37);
  }


.home_footer{
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  }

.footer_body{
    color: white;
  font-weight: bold;
  font-size: 15px;
  }
.outer_footer{
    padding-top: 95px;
    display: flex;
    justify-content: center;
  }

