.carDiv{
    margin-left:100px;
    margin-right: 100px;
    margin-top: 30px;
    height: 400px;
    margin-bottom: 150px;
    z-index: -1;
    box-shadow: 10px 10px 10px 10px #888888;
    display: flex;
    justify-content: center;
}