#covid{
    color: rgb(155,120,222);
    font-size: 8vw;
    font-weight: bolder;
    margin-bottom: 12px;
}
p{
    font-size: 22px;;
}
#headerDiv{
    margin-bottom: 150px;
    margin-top: 150px;
    margin-left: 150px;
}