#StateboxCom:hover{
    background-color:rgb(80, 77, 82);
    text-decoration: none;
}
#StateboxCom{
height: fit-content;
width: fit-content;
padding-left: 20px;
}
#StatetitleCom{
    color: rgb(155,120,222);
    font-size: 16px;
    font-weight: 600;
    margin-bottom: .25rem;
    font-weight: bolder;
}
#StatelinkCom{
    color: white;
    font-size: 16px;
    margin: 0;
    width: 35rem;
    word-wrap: break-word;
    font-weight: bolder
}