#box:hover{
    background-color: #1E1E30;
  
}
#box{
width: 100%;
margin: 16px;
}
#title{
    color: #343a40;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: .25rem;
    font-weight: bolder;
}
#link{
    color: #007bff;
    font-size: 16px;
    margin: 0;
    width: 100%;
    word-wrap: break-word;
    font-weight: bolder
}